.photo-grid {
    margin: auto;
    width: 100%;
  }
  
  .photo-grid__container {
    margin: auto;
    width: 92%;
    display: grid;
  /*   grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    grid-gap: 16px 16px;
    padding-bottom: 10em;
    object-fit: cover;
  }
  
  .photo-grid__item {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  /* mobile 320px */
  @media screen and (min-width: 320px) and (max-width: 768px){
    .photo-grid__container {
      grid-template-columns: auto;
      grid-row: repeat(8, auto);
    }
  }
  
  /* mobile 768px */
  @media screen and (min-width: 768px) and (max-width: 960px){
    .photo-grid__container {
      grid-template-columns: 1fr 1fr;
      grid-row: repeat(2, auto);
    }
  }
  
  /* mobile 960px */
  @media screen and (min-width: 960px) and (max-width: 1280px)){
    .photo-grid__container {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-row: repeat(2, auto);
    }
  }
  