.intro {
    margin: auto;
    text-align: left;
  }
  
  .intro__container {
    width: 1017px;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* margin-left: calc(148px + 1vw); */
  }
  
  .intro__title, .intro__main-text, .intro__author, .intro__text {
    width: 71%;
    font-family: "inter";
    font-weight: 400;
    font-size: 1.5em;
    line-height: 2.1rem;
  }
  
  .intro__title {
    width: 100%;
    font-weight: 900;
    font-size: 3.35em;
    line-height: 3.6rem;
    padding-bottom: 2.5rem;
  }
  
  .intro__author {
    text-align: right;
    font-size: 1.5em;
    line-height: 2rem;
    margin-top: -.25em;
    padding-bottom: 2em;
  }
  
  .intro__text {
    font-size: 1em;
    line-height: 1.6rem;
    padding-bottom: 5.75em;
  }
  
  /* mobile 320px */
  @media screen and (min-width: 320px) and (max-width: 480px) {
    .intro__container{
      width: 90%;
    }
    .intro__title {
      max-width: 420px;
      font-size: 2em;
      line-height: 2.1rem;
      padding-bottom:.5rem;
    }
  
    .intro__main-text {
      width: 100%;
      font-size: 1.5em;
      line-height: 1.8rem;
      padding-bottom: .5rem;
    }
  
    .intro__author {
      width: 100%;
      height: auto;
      line-height: 1.8rem;
    }
  
    .intro__text {
      width: 100%;
      font-size: 1em;
      line-height: 1.6rem;
      padding-bottom: 1.5em;
    }
  }
  
  /* mobile 480px */
  @media screen and (min-width: 480px) and (max-width: 720px) {
    .intro__container{
      width: 90%;
    }
    .intro__title {
      max-width: 720px;
      font-size: 2.5em;
      line-height: 2.8rem;
      padding-bottom:1rem;
    }
  
    .intro__main-text {
      width: 100%;
      font-size: 1.5em;
      line-height: 1.8rem;
      padding-bottom: .5rem;
    }
  
    .intro__author {
      width: 100%;
      line-height: 1.8rem;
    }
  
    .intro__text {
      width: 100%;
      font-size: 1em;
      line-height: 1.6rem;
      padding-bottom: 1.5em;
    }
  }
  
  /* mobile horizontal 720px */
  /* @media screen and (min-width: 720px) and (max-width: 768px) {
    .intro__container{
      width: 95%;
    }
    .intro__title {
      max-width: 1024px;
      font-size: 3.35em;
      line-height: 3.6rem;
      padding-bottom: 1em;
    }
  
    .intro__main-text {
      width: 100%;
      font-size: 1.5em;
      line-height: 2rem;
    }
  
    .intro__author {
      width: 100%;
      line-height: 1.8rem;
      margin-top: -1em;
      margin-right: 1em;
      padding-bottom: 2em;
    }
  
    .intro__text {
      width: 100%;
      font-size: 1em;
      line-height: 2.1rem;
      padding-bottom: 1.6em;
    }
  } */
  
  /* tablet 768px */
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .intro__container{
      width: 95%;
    }
    .intro__title {
      max-width: 1024px;
      font-size: 3.3em;
      line-height: 3.6rem;
      padding-bottom: 1em;
    }
  
    .intro__main-text {
      width: 100%;
      font-size: 1.5em;
      line-height: 2rem;
    }
  
    .intro__author {
      width: 100%;
      line-height: 1.8rem;
      margin-top: -1em;
      margin-right: 1em;
      padding-bottom: 2em;
    }
  
    .intro__text {
      width: 100%;
      font-size: 1em;
      line-height: 2.1rem;
      padding-bottom: 1.6em;
    }
  }
  
  /* tablet 1024px */
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    .intro__container{
      width: 85%;
    }
  }
  