.footer {
    display: flex;
      /* align-content: flex-start; */
    
    padding-top: 5.75em;
    justify-content: center;
    padding-bottom: 1.5em;
    
  }
  
  .footer__author {
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: .9em;
    line-height: 1rem;
    
    
  }